lottie-player {
  margin: 0 auto;
}
.hero {
  margin-bottom: 3rem;
}

.index_h1 {
  text-align: center;
}

#sektion1 {
  text-align: center;
  margin-top: 50px;
  color: #055d2c;
  margin-bottom: 30px;
}
.pil_ned {
  display: none;
}
a {
  padding: 15px;
}

/* Mobilversion */

.index_container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 15px;
  margin-bottom: 3rem;
}

.index_container a:hover {
  transform: scale(1.05);
}

.index_cirkel {
  border-radius: 50%;
  border: 3px solid #055d2c;
  font-size: 25px;
}

.index_container a {
  text-align: center;
}

.index_p {
  font-size: 20px;
  font-family: protest strike;
}

.logo_kategori {
  padding: 10px;
  margin: 4rem auto;
}

@media (min-width: 800px) {
  .index_container {
    /* display: grid; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 10px;
  }

  .index_container a:hover {
    transform: scale(1.05);
  }

  .index_cirkel {
    border-radius: 50%;
    border: 3px solid #055d2c;
  }

  .index_p {
    font-size: 20px;
    font-family: protest strike;
  }

  .index_container a {
    text-align: center;
  }
  .pil_box {
    position: absolute;
    left: 50%; /* Centrerer horisontalt */
    top: 80%; /* Centrerer vertikalt */
    transform: translate(-50%, -50%); /* Justerer for præcis centreret position */
    cursor: pointer;
  }
  .pil_ned {
    display: block;
    width: 80px;
    animation: bounce 1s infinite;
  }

  /* Hoppende pil */
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Juster højden på hoppen */
    }
    100% {
      transform: translateY(0);
    }
  }
  /* scroll ved klik af pil ned knap */
  :root {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
