/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
main {
  max-width: 1300px;
  margin: 0 auto;
}

/* ----------------------------------------------------- VARIABLE --------------*/
:root {
  /* Primære farve til hele sitet */
  --primary: #ffe8fb;

  /* Sekundære farve til hele sitet */
  --secondary: #ff5125;

  /* Kontrast/tertiær farve til hele sitet */
  --contrast: #055d2c;

  /* Brødtekst farve  */
  --txt_color: #055d2c;

  /* Primær font */
  --main_font: "Protest Strike", serif;

  /* Brødtekst font */
  --txt_font: "Newsreader", serif;
}

/*-------------------------------------------------------------------------BAGGRUNDSFARVER ----------*/
.bg_color1 {
  background-color: var(--primary);
}

.bg_color2 {
  background-color: var(--secondary);
}

.bg_color3 {
  background-color: var(--contrast);
}
/* -----------------------------------------------------Fra google --------------*/
/* .protest-strike-regular {
  font-family: "Protest Strike", serif;
  font-weight: 400;
  font-style: normal;
} */
@font-face {
  font-family: protest_strike;
  src: url(../fonts/proteststrike-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* .newsreader-text > {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
@font-face {
  font-family: newsreader;
  src: url(../fonts/newsreader_font/newsreader-variablefont_opszwght-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* -----------------------------------------------------TEKST--------------*/
h1 {
  font-family: protest_strike;
  color: var(--secondary);
  font-weight: 800;
  font-size: 2.5rem;
  padding: 20px;
}

h2 {
  font-family: protest_strike;
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-family: protest_strike;
  color: var(--txt_color);
}

p {
  font-family: newsreader;
  color: var(--txt_color);
  line-height: 1.5rem;
  font-size: 0.8em;
}

a {
  font-family: protest_strike;
  text-decoration: none;
  color: var(--txt_color);
  font-weight: 600;
}

li {
  font-family: newsreader;
  color: var(--txt_color);
  margin-block: 0.8rem;
}
/***********************************MENU & BURGERMENU SLUT*****************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: solid #055d2c;
  background-color: #ffe8fb;
  margin: 1px;
  font-family: protest_strike;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ff5125;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #055d2c;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ff5125;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffe8fb;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px #cbb6c7;
    z-index: 1;
    margin-top: 10px;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
.logo img {
  width: 120px; /* Juster bredden til den ønskede størrelse */
  height: auto; /* Beholder proportionerne på logoet */
}

/***********************************MENU & BURGERMENU SLUT*****************************/
